:root {
    --Very-light-pink:  #C7C7C7;
    --Text-input-field: #F7F7F7;
    --Hospital-green: #ACD9B2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5   rem;
    margin-bottom: 2.1rem;
}

header img {
    width: 11rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin-top: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-style: bold;
}

.recovery-text {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.recovery-text .title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.recovery-text .text {
    width: 20rem;
    font-size: 1.3rem;
    color: var(--Very-light-pink);
    font-weight: 500;
    text-align: center;
}

.recovery-input input[type="text"] {
    height: 2.5rem;
    width: 23.4rem;
    border: none;
    padding-left: 0.5rem;
    background-color: var(--Text-input-field);
    color: var(--Very-light-pink);
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.recovery-input input::placeholder {
    color: var(--Very-light-pink);
}

.recovery-input p {
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.submit-button {
    margin-top: 2rem;
    width: 23.4rem;
    height: 3.9rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--Hospital-green);
    border-radius: 0.5rem;

    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--Text-input-field);
}

.login-button {
    margin-top: 2rem;

    font-size: 1rem;
    text-decoration: none;
    color: var(--Hospital-green);
}

@media (max-width: 375px)
{

    .recovery-input {
        width: 90%;
    }

    .recovery-input input[type="text"] {
        width: 100%;
    }

}

@media (max-width: 375px)
{
    .submit-button {
        margin-top: 7.5rem;
        width: 80%;
    }
    
}